{% extends 'base.html' %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url( {{url_for('static', filename='img/caralog8.jpg') }} )">
        <div class="container overlay">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Services</h1>
                        <hr class="small">
                        <span class="subheading">Trust our vision!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    <h2 class="section-heading">{{ post.title}}</h2>

                    <p>{{ post.description }}</p>

                    <blockquote>{{ post.quote_text }}</blockquote>

                    <a href="#">
                        <img class="img-responsive" src="/static/img/{{post.image_file}}">
                    </a>
                    <p>{{ post.full_description }}</p>
                </div>
            </div>
        </div>
    </article>

    <hr>

  {% endblock %}